NEXT_PUBLIC_SUPABASE_URL=https://tvpalzrovyfipzkzpwvp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2cGFsenJvdnlmaXB6a3pwd3ZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5ODMxOTQsImV4cCI6MjEwMTU1OTE5NH0._T58o7fCu9x2TOOPdGjyiC44rm-aEmJprsmQVJSs6J8
